<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <!-- 添加头部 -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-control" v-model='id'>
                </label>
                <label>
                    Name:
                    <!-- 键盘事件 -->
                    <input type="text" class="form-control" v-model='name' @keyup.f2='add' v-focus v-color>
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click='add'>
                <!-- 搜索关键字 -->
                <label>
                    <input type="text" class="form-control" v-model='keywords'>
                </label>
                <!--  -->
            </div>
        </div>
        <!--  -->
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>ctime</th>
                    <th>
                        <a href="#">操作</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item,index) in search(keywords) '>
                    <td>{{item.id}} </td>
                    <td>{{item.name}} </td>
                    <td>{{item.ctime | dataFormat}} </td>
                    <td>
                        <a href="#" @click='del(index)'>
                            delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="./lib/vue-2.4.0.js"></script>
<script>
    //得到年月日时间
    Vue.filter('dataFormat', function (data) {
        var dt = new Date();
        var y = dt.getFullYear();//年
        //补零操作 String.prototype.padStart(maxlength,fillString);
        var m = (dt.getMonth() + 1).toString().padStart(2, '0');//月
        var d = (dt.getDay()).toString().padStart(2, '0');//日
        var h = (dt.getHours()).toString().padStart(2, '0');//时
        var min = (dt.getMinutes() + 1).toString().padStart(2, '0');//分
        var s = (dt.getSeconds()).toString().padStart(2, '0');//秒
        return `${y}-${m}-${d}   ${h}:${min}:${s}`;
    })
    Vue.directive('focus', {
        bind: function (el, binding) {
            el.focus();
        },
        inserted: function (el, binding) {
            el.focus();
        },
        update: function (el, binding) {

        }
    })
    Vue.directive('color', {
        bind: function (el, binding) {
            el.style.color = "red"
        },
        inserted: function (el, binding) {

        },
        update: function (el, binding) {

        }
    })

    //键盘事件
    Vue.config.keyCodes.f2 = 113;

    let vm = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            ctime: '',
            keywords: '',

            list: [
                { id: 1, name: '苹果', ctime: new Date() },
                { id: 2, name: '香蕉', ctime: new Date() },
                { id: 3, name: '菠萝', ctime: new Date() },
                { id: 4, name: '樱桃', ctime: new Date() },
                { id: 5, name: '芒果', ctime: new Date() }
            ]
        },
        methods: {
            //渲染到页面
            add() {
                this.list.push({ id: this.id, name: this.name, ctime: new Date() })
            },
            // 循环遍历添加删除功能
            del(index) {
                for (var i = 0; i < this.list.length; i++) {
                    if (i === index) {
                        this.list.splice(i, 1)
                    }
                }
            },
            // 搜索方法
            search(keywords){
                return this.list.filter(item=>{
                    if(item.name.includes(keywords)){
                        return item
                    }
                })
            }
        },
    })
</script>

</html>